.dropdown {
  width: 200px;
  height: 120px;
  box-sizing: border-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 17px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 5px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
}
.dropdown__item {
  display: flex;
  align-items: center;
  img {
    width: 15px;
    height: 17px;
    display: inline-block;
    margin-right: 18px;
  }
  padding: 7px;
  border-radius: 9px;
}
.dropdown__item:hover,
.dropdown__item:focus,
.dropdown__item:active {
  background: #186a7b21 0% 0% no-repeat padding-box;
}
