.diagnosis__container {
  & > img {
    display: none;
  }
}
.diagnosis {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  margin-top: 70px;
  color: #707070;
  h1 {
    color: rgba(24, 106, 123, 1);
    font-size: 2.5em;
  }
  p {
    color: #186a7b;
    margin-bottom: 30px;
  }
  .diagnosis__step {
    display: flex;
    align-items: center;
    color: #186a7b;
    margin-bottom: 20px;
    .diagnosis__label {
      padding: 7px 11px;
      border-radius: 3px;
      color: white;
      background-color: rgba(226, 103, 119, 1);
      margin-right: 15px;
    }
  }
  .diagnosis__category {
    width: 80%;
    margin: 0 auto;
    & > div {
      display: flex;
      align-items: center;
      margin: 15px 0;
    }
    img {
      width: 30px;
      height: auto;
      margin-right: 15px;
    }
  }
  .diagnosis__start {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 10px;

    h3 {
      font-size: 1.7em;
      color: rgba(24, 106, 123, 1);
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(226, 103, 119, 1);
      outline: 0;
      border: 0;
      border-radius: 15px;
      outline: none;
      color: white;
      padding: 10px 20px;
      font-size: 1.3em;
      margin-top: 10px;
      img {
        width: 15px;
        height: auto;
        margin-right: 7px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .diagnosis__container {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    & > img {
      display: inline-block;
      width: 55%;
    }
    .diagnosis__start {
      align-items: flex-start;
    }
    .diagnosis{
      margin:0;
    }
  }
}
