@import '../../components/hamburger/Hamburger.scss';
.header__container {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  .button{
    cursor:pointer
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__logo {
  img {
    width: 35px;
    height: 35px;
    cursor:pointer;
  }
}

.header__items {
  display: none;
  cursor: pointer;
}
.header__shadow{
 -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  background: rgba(255, 255, 255, 0.95);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    margin-left: 10%;
  }
  .header__main {
    display: flex;
    flex-basis: 80%;
  }
  .header__items {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.1em;
    font-weight:bold;
    letter-spacing: 0px;
    color: #186a7b;
    opacity: 1;
    & > * {
      margin-left: 38px;
    }
  }

  .header__hamburger {
    display: none;
  }
  .header-item__drop {
    @include dropdown-toggle(1px);
  }
  .menu-item__drop:hover .header-item__drop {
    display: block;
  }

  .menu-item__drop:active .header-item__drop {
    display: block;
  }
  .menu-item__drop:focus .header-item__drop {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header__items {
    & > * {
      margin-left: 80px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__main {
    display: flex;
    flex-basis: 95%;
  }
  .header__items {
    & > * {
      margin-left: 124px;
    }
  }
}
