.result {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #186a7b;
  height: 300px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 85%;
  max-width: 400px;
  color: white;
  .result__number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 4.5em;
      color: #e26777;
      margin: 10px 0;
    }
    h3 {
      font-size: 1em;
    }
    h4 {
      font-size: 0.85em;
      text-align: left;
    }
  }
  .result__name {
    height: 85%;
    padding-top: 20px;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 100px;
      height: auto;
      padding-top: 15px;
    }
  }
  .result__back {
    cursor: pointer;
    font-size: large;
    width: 30px;
  }
}
